.App {
  text-align: center;
}

.my-nav {
  display: flex;
  outline: 1px royalblue solid;
}

.people {
  border: 1px green solid;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.person-details {
  width: 100%;
  height: 50%;
  border: red 1px solid;
  padding: 3%;
  margin: 20px;
}

/* **************** MEDIA QUERIES ******************************** */
/* IPAD */
@media only screen and (min-width: 768px) {
  .person-details {
    width: 35%;
  }
}
